@model EditCompanyProfileFormModel

@{
    ViewData["Title"] = "Edit Company Profile";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-9 col-md-offset-3">
        <form method="post" enctype="multipart/form-data" class="register-form col-md-8">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentLogo"></label>
                @if (Model.CurrentLogo == null)
                {
                    <img width="100" height="100" src="~/images/common/no-logo.png" />
                }
                else
                {
                    <img width="100" height="100" class="logo" src="@Model.CurrentLogo.ConvertBytesToImage()" />
                }
            </div>
            <div class="form-group">
                <label asp-for="Logo"></label>
                <input name="Logo" type="file" accept="image/*" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="register btn btn-success">Edit</button>
        </form>
    </div>
</div>

