.search-container {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 480px;
    left: 50%;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/home/home-search-background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
}

.search-form {
    background-color: white;
    padding: 16px;
    border-radius: 15px;
    margin-top: 50px;
    box-shadow: 5px 5px 20px 10px #ffffff;
}

div.form-errors {
    margin-bottom: 10px;
}