*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.bus, .route-info {
    margin: 20px auto;
    max-width: 56%;
}

.fuselage {
    border: 5px solid #80f59c;
    padding: 15px 0 15px 10px;
    border-radius:5px;
}

ol {
    list-style: none;
}

.seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.seat {
    display: flex;
    flex: 0 0 9.28571428571429%;
    padding: 5px;
    position: relative;
}

.seat input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

ol.seats > li.seat > input[type="checkbox"]:checked~label {
    background-color: #ff0000;
}

.seat input[type=checkbox]:disabled~label {
    background: #dddddd;
    text-indent: -9999px;
    overflow: hidden;
}

li.seat > label.disabled,
li.seat > input.disabled {
    pointer-events: none;
    background: red;
}

.seat input[type=checkbox]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.seat input[type=checkbox]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
}

.seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: #80f59c;
    border-radius: 5px;
}

.seat label:before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
}

.seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px #5C6AFF;
}

.buy {
    margin-bottom:10px;
}

.route-info-container {
    margin:20px auto;
}

.route-info-container div {
    margin-bottom:10px;
}
