.search-container {
    background: url('../../images/common/bus.jpg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right;
}

.details-container {
    margin: 0 auto;
    width: 100%;
}

.logo {
    width:100px;
    height:100px;
    display:inline-block;
    margin-top:20px;
}

.description {
    line-height:20px;
    margin:10px 0 10px 0;
}

.back {
    margin:20px 0 0 35px;
}

.icons {
    margin:40px 0;
}

.icons .info {
    display:inline-block;
    border-right:1px solid black;
    margin-right:40px;
    padding-right:40px;
}

.fa {
    display:block;
    color:red;
    font-size:2.9em;
    margin-bottom:10px;
}

.popular-routes {
    margin-top:20px;
}

.popular-routes h3 {
    font-size:2.4em;
    letter-spacing:3px;
}

.route-info span {
    font-size:1.2em;
    font-weight:500;
}

.route-info a {
    margin-bottom:10px;
}

div.review-container {
    border-left: 8px solid #D23A37;
    background: #F9F9F9;
    font-size:1.2em;
    margin-bottom:15px;
}

div.review-container p{
    padding: 15px;
}

div.user-info {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #A4B1C5;
}

div.user-info .user {
    margin-right:20px;
}

.delete, 
.edit {
    float: right;
}

.edit {
    margin-right:10px;
}
