@model SearchRouteFormModel

@{
    ViewData["Title"] = "Home";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/home.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>

<div class="container-fluid home-container">
    <div class="row search-container">
        @Html.Partial("_SearchRoutesForm", Model)
        <div class="col-lg-6">
            <h1>Some icons here</h1>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/route/search-form-validation.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}