@model SearchRouteFormModel

@{
    ViewData["Title"] = "Home Page";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/home.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>

<div class="container-fluid home-container">
    @Html.Partial("_SearchRoutesForm", Model)
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/route/search-form-validation.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}