@model ReviewFormModel

@{
    ViewData["Title"] = "Company Review";
}

<form method="post" asp-controller="Reviews" asp-action="Add" class="col-md-8 col-md-offset-2">
    <input type="hidden" asp-for="CompanyId"/>
    <div class="form-group">
        <label asp-for="Description">Review content:</label>
        <textarea asp-for="Description" class="form-control" rows="8"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <input type="submit" value="Add Review" class="btn btn-success" />
    </div>
</form>

