@model SearchRouteFormModel

@{
    ViewData["Title"] = "Search Routes";
}

<div class="col-lg-4 col-lg-offset-1 search-form-container">
    <form method="get" asp-controller="Routes" asp-action="Search" class="search-form">
        <h3 class="text-center">Search routes</h3>
        <hr />
        <div class="text-danger text-center form-errors" hidden>
            Start destination and end destination cannot be equal!
        </div>
        <div class="form-group">
            <label asp-for="StartTown"></label>
            <select asp-for="StartTown" asp-items="Model.Towns" class="form-control start-town" required></select>
            <span asp-validation-for="StartTown" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndTown"></label>
            <select asp-for="EndTown" asp-items="Model.Towns" class="form-control end-town" required></select>
            <span asp-validation-for="EndTown" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date"></label>
            <input asp-for="Date" value="dd/MM/yyyy" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="CompanyId"/>
        <input type="submit" value="Search" class="btn btn-success search-route" onclick="checkTownsEquality()" />
    </form>
</div>

