@{
    ViewData["Title"] = "My Profile";
}
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
</environment>

<div class="container col-md-12">
    <div class="row">
        <nav class="col-md-2">
            <ul class="side-nav">
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (User.IsInRole(Role.Company.ToString()))
                {
                    <li>
                        <a asp-area="Company" asp-controller="Routes" asp-action="Add">Add Route</a>
                    </li>
                    <li>
                        <a asp-area="Company" asp-controller="Routes" asp-action="All">My Routes</a>
                    </li>
                    <li>
                        <a asp-controller="Users" asp-action="EditUser">Edit Profile</a>
                    </li>
                }
                else
                {                   
                    <li>
                        <a asp-controller="Users" asp-action="MyTickets">My Tickets</a>
                    </li>
                    <li>
                        <a asp-controller="Users" asp-action="EditUser">Edit Profile</a>
                    </li>
                }
                <li>
                    <form method="post" asp-action="Logout" asp-controller="Account">
                        <button class="logout-btn" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
        <div class="profile-info col-md-10">
            @if (TempData.ContainsKey(WebConstants.TempDataKey.Message))
            {
                <div class="alert alert-@TempData[WebConstants.TempDataKey.AlertType] alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="alert-message text-center">
                        @TempData[WebConstants.TempDataKey.Message]
                    </p>
                </div>
            }
            @RenderBody()
            <hr />
            <footer class="text-center">
                <p>&copy; 2017 - eTicket System</p>
            </footer>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

