ul.stations-list {
    margin:10px 0;
    list-style-type:none;
    font-size:1.2em;
}

.station-info {
    margin-top:8px;
}

.station-info div {
    margin-top:5px;
}

.form-inline .form-control {
    width:100%;
}
