@model RegisterUserFormModel
@{
    ViewData["Title"] = "Register User";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/account/register.css" />
</environment>

<div class="row">
    <div class="col-md-12 col-md-offset-2">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="register-form col-md-8">
            <h4 class="text-center">Create a new user account.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Gender"></label>
                @foreach (var gender in Enum.GetValues(typeof(Gender)))
                {
                    <input asp-for="Gender" type="radio" value="@((int)gender)"/> @gender.ToString()
                }
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <button type="submit" class="register btn btn-success col-md-12 col-md-offset-3">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
